h4 = "Уважаемый #{@listener_request.first_name} #{@listener_request.last_name},"
= raw(@listener_request_email_content.content)
hr
h4 = "Respected #{@listener_request.first_name} #{@listener_request.last_name},"
= raw(@listener_request_email_content.content_en)