h4 = "Уважаемый #{@workshop.user.readable_name},"
= raw(@confirm_workshop_content.content)
h4 = "Название доклада: #{@workshop.title}"
hr
h4 = "Respected #{@workshop.user.readable_name},"
= raw(@confirm_workshop_content.content_en)
h4 = "Workshop's title: #{@workshop.title}"
