h1 Профиль админа

=>link_to 'Управление аккаунтами', admin_users_path, class: 'btn btn-default'
=>link_to 'Спонсоры', admin_sponsors_path, class: 'btn btn-default'

=render 'admin/sections/index'
=link_to 'Создать секцию', new_section_path, class: 'btn btn-default'