#location.hidden = @placement_json

= render :partial => 'users/admin_menu'

.col-lg-9
  h2 Местоположение
  = form_tag admin_placement_path
    p Пожалуйста, введите полный адрес и нажмите "Сохранить"
    p Для удаления адреса, просто оставьте поле пустым
    #js_address_inputs
      - unless @placement_json.empty?
        - for place in JSON.parse(@placement_json)
          = text_field_tag 'address[]', place['address_string'], :class => 'form-control'
          br
    a#js_add_address.btn.btn-default Добавить еще адрес
    =< submit_tag :'Сохранить', :class => 'btn btn-default'
  br


  .div style='width: auto;'
    #location-place style='width: auto; height: 400px;'

coffee:
  location_json = $("#location").text();
  unless location_json
    return
  location_json = JSON.parse(location_json)

  place_markers = [];
  $.each location_json, (location) ->
    place_markers.push(
            {
              lat: location_json[location]['latitude'],
              lng: location_json[location]['longitude'],
              'picture': {
                'url': 'http://maps.google.com/mapfiles/ms/micons/pink-dot.png'
                'width': 32
                'height': 32
              },
              'infowindow': 'hello!'
            }
    )

  handler = Gmaps.build('Google')
  handler.buildMap {
    provider:
      scrollwheel: false
    internal:
      id: 'location-place'
      minZoom: 14
      autoZoom: true
  }, ->
    markers = handler.addMarkers(place_markers)
    handler.map.centerOn markers[0]
    if place_markers.length > 1
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    else
      handler.getMap().setZoom(14);
