/*------------------------------------------------------------------
[Color Stylesheet]

Project:    Eventime
Version:    1.2
Last change:    3 apr 2015
Assigned to:    http://themeforest.net/user/chaykovskiy
Primary use:    Eventime HTML Template 
-------------------------------------------------------------------*/

/*!------------------------------ Main color of template #029EE0 ------------------------------*/

.navbar-nav > .active > a,
.navbar ul li a.active,
.navbar-nav > li > a:hover,
.description #clock,
.arrow_right:hover,
.arrow_left:hover,
.photo_carousel figure figcaption,
.photo_carousel figure h2 span,
.contact_icon,
.footer .link:hover,
a.navbar-brand:hover,
.navbar_bg_dark .active a,
.texticon, .nav .open > a,
.count,
.count_plus,
.about_columns .fa,
.about_columns h4,
.contact a, .entry-meta span a:hover,
.copyright span {

    color: #55a9ea;

}

.eventime_button::before, .dropdown-menu li a:hover,
.eventime_button:hover::before,
.contact_icon:hover {

    background: #55a9ea;

}

.eventime_button,
.eventime_button:hover,
.first_line,
#sh_carousel .carousel-indicators .active,
.tabs_about .active a,
.tabs_about .graybtn:hover,
.schedule_date,
.photo_carousel_ind.active,
.testimonials_carousel,
.contact_icon,
.sponsor_basic,
.sponsor_featured,
figure.eventime_img figcaption::before,
.eventime_modal .contact_icon:hover,
.center_line {

    border-color: #55a9ea;

}

/* Gradients */

.reservation,
footer,
.navbar-toggle {

    background: #55a9ea;

    background: -moz-linear-gradient(-45deg, #55a9ea 0%, #8ee8ff 100%);

    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #55a9ea), color-stop(100%, #8ee8ff));

    background: -webkit-linear-gradient(-45deg, #55a9ea 0%, #8ee8ff 100%);

    background: -o-linear-gradient(-45deg, #55a9ea 0%, #8ee8ff 100%);

    background: -ms-linear-gradient(-45deg, #55a9ea 0%, #8ee8ff 100%);

    background: linear-gradient(135deg, #55a9ea 0%, #8ee8ff 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55a9ea', endColorstr='#8ee8ff', GradientType=1);

}

/*!------ SVG ------ */

.photo_carousel .right_arrow svg:hover,
.photo_carousel .left_arrow svg:hover,
#sh_carousel .right_arrow svg:hover,
#sh_carousel .left_arrow svg:hover,
.light .right_arrow svg:hover,
.light .left_arrow svg:hover,
#home_slider .left_arrow,
#home_slider .right_arrow {

    fill: #55a9ea;

}

/*!------------------------------ All light part color #fff ------------------------------*/

.navbar,
.navbar a,
.description h2,
.description h3,
.details,
.footer .link,
.tab-content,
.eventime_button,
.tabs_about .active a,
.mask .first_title,
.mask .first_description,
.photo_carousel figure h2,
.reservation_button:hover,
.reservation input[type=text]:focus,
.reservation input[type=email]:focus,
.reservation input[type=password]:focus,
.navbar_bg_dark a, .blog_header p,
.buttons a.active,
.contact_information,
.copyright {

    color: #fff;

}

.sponsor_basic,
.sponsor_featured {

    outline-color: #fff;

}

.speakers_row {

    min-height: 100%;
    background-color: #fff;

}

.tabs_about .graybtn {

    border-color: #fff;

}

/*!------ SVG ------ */

.photo_carousel .right_arrow svg,
.photo_carousel .left_arrow svg,
#home_slider .left_arrow:hover,
#home_slider .right_arrow:hover {

    fill: #fff;

}

/*!------------------------------ Black color #000 ------------------------------*/

a,
a:hover,
.first_title,
.panel a,
.reservation,
.reservation_button,
.contact_icon:hover,
footer,
.navbar_bg .active a, .blog_button,
.schedule_reservation,
.panel-collapse p b {

    color: #000;

}

.eventime_button:hover {

    color: #000 !important;

}

#preloader,
.reservation_button:hover,
.reservation input[type=text]:focus,
.reservation input[type=email]:focus,
.reservation input[type=password]:focus,
.reservation input[type=submit]:hover,
.navbar_bg_dark,
.navbar-toggle .icon-bar {

    background-color: #000000;

}

.reservation .first_line,
footer .first_line,
.reservation input,
.reservation_button {

    border-color: #000;

}

.registration_button {
    border-color: #000
}

/*!------------------------------ Gray color #838383 ------------------------------*/

.graybtn,
.accordion_right,
.photo_carousel_ind {

    border-color: #838383;

}

/*!------ SVG ------ */
#sh_carousel .right_arrow svg,
#sh_carousel .left_arrow svg,
.light .right_arrow svg,
.light .left_arrow svg {

    fill: #838383;

}

.graytxt,
.panel-collapse p,
.arrow_right,
.arrow_left,
.navbar_bg a {

    color: #838383;

}

/*!------------------------------ Background settings | Transparents in RGBA and Background images ------------------------------*/

.nav_mask,
.footer {

    background: #1a3446;

}

.nav_mask_full {

    background: rgba(0, 0, 0, 1);

}

.fill_mask {

    background-color: rgba(0, 0, 0, 0.55);

    background-image: url('mask.svg');

}

.mask {

    background-color: #1a3446;

}

/*Images*/


/*---------------------- Additional Styles ---------------------*/

.sponsor_featured,
.sponsor_basic {

    outline: none !important;

    /*border: 3px solid #000 !important;*/

    background: transparent !important;

}

@media all {

    .firstrow.black {
        display: table;
    }

    .black {
        background-color: #353739 !important;
        color: white !important;
    }

    .black .first_title {
        color: white;
        padding-top: 20px;
    }
    .black a {
        color: white;
    }
}

input.error {
    background-color: #DD6666 !important;
}

.registration-switch {
    border: 3px solid black;
    border-radius: 0;
}

.mask p a {
    color: white;
}

.modal.fade.in {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    overflow-y: auto;
}

.first_slide {
    background-image: url('slider.jpg')
}

.second_slide {
    background-image: url('slider.jpg')
}

.third_slide {
    background-image: url('slider.jpg')
}

.guest_avatar {
    width: 150px !important;
    float: left;
    margin-right: 10px;
}

.user-avatar {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.modal-footer {
    text-align: left;
}

.black table td {
    padding-right: 30px;
}

.sections_place {

    padding-left: 10%;

    font-size: 18px;

    display: inline-block;

    width: 75%;

    float: left;

    line-height: 30px;
}

.section_place_title {
    padding-left: 9% !important;
}

.event_line {
    margin-bottom: 0;
}
.workshop-area {
    margin-left: 8%;
    margin-right: 8%;
}

.workshop-block {
    /*text-align: center;*/
    display: inline-block;
    position: relative;
    margin: 1%;
    float: left;
    /*background-color: lightgrey;*/
    padding: 10px;
}

.lng-switcher {
    display: inline-block;
}

.main-image {
    width: 100%;
}

.first_title a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
}

.schedule-section {
    display: block;
    margin-bottom: 5px;
    width: 80% !important;
    white-space: normal;
}

.reservation {
    overflow-x: hidden;
}

.upload-file-container {
    vertical-align: top;
    height: 54px;
    padding-top: 8px;
}

.upload-file-container:hover {
    cursor: pointer;
}

.upload-file-container span {
    font-weight: 300;
    font-size: 24px;
}

.upload-file-container input {
    filter: alpha(opacity=0);
    opacity: 0;
    position: fixed;
    top: -1000px;
}
