// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.avatar {
  width:150px;
  height:150px;
  margin: 25px auto;
  overflow: hidden;
  border-radius:50%;
  position: relative;
}

.avatar img {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%)
}

.avatarButton {

}
.workshop-block {
  display: inline-block;
  position: relative;
  margin: 1%;
  float: left;
  width: 25%;
  height: 300px;
  background-color: lightgrey;
}